.status_bar {
    display: flex;
    justify-content: space-between;
}

.status_bar .time,.status_else {
    padding: 10px 10px 0 10px;
    font-weight: bold;
}

.status_bar span {
    font-size: 16px;
}