<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/style.css" />
        <script src="https://kit.fontawesome.com/8c117daa95.js" crossorigin="anonymous"></script>

        <title></title>
    </head>

    <body>
        <nav class="nav">
            <div class="header">
                <div class="nav_logo">
                    <img class="img" src="../img/logo.png" />
                </div>
                <div class="nav_bar">
                    <div class="clock">
                        <h1 class="time"> 2020 / 07 / 20: 11:11:11</h1>
                        <h1 class="time"> 접속 시간: 00:11:11</h1>
                    </div>
                    <div>
                        <ul class="nav_bar_list">
                            <div class="nav_search"><i class="fas fa-cog"></i></div>
                            <div class="nav_alert"><i class="fas fa-bell"></i></div>
                            <div class="nav_tools"><i class="fas fa-th-large"></i></div>
                            <div class="nav_setting"><i class="fas fa-sliders-h"></i></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <aside class="menu">
                    <ul class="list">
                        <li><i class="fas fa-bars"></i>
                        </li>
                        <li><span class="bigmenu">Dashboard</span>
                            <ul class="mi_list">
                                <li>monitoring</li>
                                <li>Top 10</li>
                                <li>System Status</li>
                                <li>Detection Monitor</li>
                                <li>Blocking Monitor</li>
                                <li>Traffic Analysis</li>
                            </ul>
                        </li>
                        <li>
                            <span class="bigmenu1">System Managemnet</span>
                            <ul class="mi_list1">
                                <li>Settings</li>
                                <div>
                                    <ul class="somenu">
                                        <li>System Setting</li>
                                        <li>Network Setting</li>
                                        <li>Maintenance Setting</li>
                                        <li>SNMP Setting</li>
                                        <li>Access Setting</li>
                                        <li>Alert Setting</li>
                                        <li>Syslog Setting</li>
                                    </ul>
                                </div>
                                <li>File Manager</li>
                            </ul>
                        </li>
                        <li>
                            <span class="bigmenu2">Defense Management</span>
                            <ul class="mi_list2">
                                <li>Rule Setting</li>
                                <li>Rule Update</li>
                                <li>Internal IP Setting</li>
                                <li>Network Object</li>
                                <div>
                                    <ul class="somenu">
                                        <li>IP Address</li>
                                        <li>Network Groups</li>
                                    </ul>
                                </div>
                                <li>ACL Setting</li>
                                <div>
                                    <ul class="somenu">
                                        <li>ACL</li>
                                        <li>Real Time ACL</li>
                                        <li>Disallowed IP</li>
                                    </ul>
                                </div>
                                <li>SSL Inspection Setting</li>
                                <li>QoS Setting</li>
                            </ul>
                        </li>
                        <li>
                            <span class="bigmenu3">Audit</span>
                            <ul class="mi_list3">
                                <li>Statistics</li>
                                <div>
                                    <ul class="somenu">
                                        <li>Traffic Statistics</li>
                                        <li>Protocol Statistics</li>
                                        <li>Port Statistics</li>
                                        <li>Frame Statistics</li>
                                        <li>Region Traffic Statistics</li>
                                        <li>Detected Attack Statistics</li>
                                        <li>Detected Port Statistics</li>
                                        <li>Session</li>
                                    </ul>
                                </div>
                                <li>Detected Packet Log</li>
                                <li>Detected Attack Log</li>
                                <li>ACL Log</li>
                                <li>AoS Log</li>
                                <li>Alert Log</li>
                                <li>Audit Log</li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
        </nav>
        

        <section class="section">
            <div class="asdf">
                <div class="route">
                    <li class="one">Dashboard</li>
                    <span class="two"></span>
                </div>
                <div class="favorite">
                    <span><i class="fas fa-star">Dashboard</i></span>
                    <span><i class="fas fa-star">Settings</i></span>
                    <span><i class="fas fa-star">Rule Setting</i></span>
                    <span><i class="fas fa-star">SSL Inspection Setting</i></span>
                </div>
            </div>
            <div class="tool_bar">
                <div>
                    <i class="far fa-check-square"></i>
                    <i class="far fa-plus-square"></i>
                    <i class="fas fa-trash"></i>
                    <i class="fas fa-pencil-alt"></i>
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div>
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-expand-arrows-alt"></i>
                </div>
            </div>
            <div class="content"><img src="../img/dashboard.png" />
            </div>
        </section>
        <!-- <script type="text/javascript" src="../js/clock.js" charset="utf-8"></script> -->
    </body>
</html>